html, body {
    background: linear-gradient(to bottom, #fd7166, white) fixed;
    font-family: "Cambay Devanagari";
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.peach1 {
    position: absolute;
    top: 10%;
    left: 15%;
    z-index: 1;
}

.peach2 {
    position: absolute;
    top: 20%;
    right: 5%;
    z-index: 1;
}

.peach3 {
    position: absolute;
    top: 85%;
    left: 6%;
    z-index: 1;
}

.peach4 {
    position: absolute;
    top: 75%;
    right: 10%;
    z-index: 1;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.syp {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

.card {
    background-color: transparent;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.email, .password {
    text-align: center;
    font-size: medium;
    border-radius: 50px;
    border-color: transparent;
    margin-top: 10px;
    margin-bottom: 12px;
    padding: 10px;
    width: calc(100% - 20px);
    outline: none;
}

.email:hover, .password:hover {
    outline: none;
}

.remember-me {
    color: black;
    display: block;
    margin-top: 10px;
    margin-bottom: 30px;
    align-self: flex-start;
}

.checkbox {
    accent-color: #1b1f26;
}

.login-button {
    border-radius: 5px;
    border: none;
    background-color: #fd7166;
    color: white;
    display: flex;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    background-color: #de5349;
}

.forgot-password {
    color: #1b1f26;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 20px;
}

.forgot-password:hover {
    text-decoration: underline;
}

.new-user-button {
    border-radius: 5px;
    border: none;
    background-color: white;
    color: grey;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 13px;
}

.new-user-button:hover {
    color: white;
    background-color: #FFB9A7;
}

.card2 {
    background-color: transparent;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name-container {
    display: flex;
    width: 115%;
    justify-content: space-evenly;
}

.first-name, .last-name {
    text-align: center;
    font-size: medium;
    border-radius: 50px;
    border-color: transparent;
    margin-top: 10px;
    margin-bottom: 12px;
    padding: 10px;
    width: calc(40% - 20px);
    outline: none;
}

.create-account-button {
    border-radius: 5px;
    border: none;
    background-color: #fd7166;
    color: white;
    display: flex;
    padding: 10px 20px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16px;
}

.create-account-button:hover {
    background-color: #de5349;
}

.returning-user-button {
    border-radius: 5px;
    border: none;
    background-color: white;
    color: grey;
    padding: 10px 20px;
    margin-top: 25px;
    cursor: pointer;
    font-size: 13px;
}

.returning-user-button:hover {
    color: white;
    background-color: #FFB9A7;
}


/*tester*/
/*.new-user-button:focus {*/
/*    color: white;*/
/*    background-color: #FFB9A7;*/
/*}*/

@media (min-width: 1024px) {
    .title-container {
        margin-right: 90px;
    }
}

@media (max-width: 767px) {
    .card {
        background-color: transparent;
        box-shadow: none;
        margin-top: 15px;
    }

    .syp {
        margin-top: 20px;
    }

    .email, .password {
        width: calc(80% - 10px);
    }

    .remember-me {
        margin-left: 30px;
    }

    .card2 {
        background-color: transparent;
        box-shadow: none;
        margin-top: 15px;
    }

    .name-container {
        width: 94%;
    }
}

@media (max-width: 767px) {
    .peach1 {
        position: absolute;
        top: 2%;
        left: 5%;
        z-index: 1;
    }

    .peach2 {
        display: none;
    }

    .peach4 {
        width: 80px;
        height: 60px;
        position: absolute;
        top: 70%;
        right: 2%;
        z-index: 1;
    }
}


/*start of loading page css*/
.peach-container {
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
    .peach-container img {
        width: 90px;
        height: 80px;
    }

    .hide-peach {
        display: none;
    }
}



/*start of lists page*/
.page-container {
    margin-top: 150px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh; /*viewport height*/
}

.navigation {
    font-size: 70px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 60px;
    right: 60px;
}

@media (max-width: 767px) {
    .navigation {
        font-size: 40px;
        position: absolute;
    }

    svg {
        width: 30px;
        height: 30px;
    }
}

.list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 90px;
}

.task {
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 8px;
    width: 400px;
    height: 100px;
    margin: 0 20px 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.list-task-number {
    font-size: 25px;
}

.item {
    color: black;
    font-size: 18px;
}

.task p {
    margin: 0;
    padding-left: 20px;
}

.list-edit-button {
    border-radius: 20px;
    border: none;
    background-color: #fd7166;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 13px;
    position: absolute;
    bottom: 20px;
    right: 90px;
}

.list-delete-button {
    border-radius: 20px;
    border: none;
    background-color: #fd7166;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 13px;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.new-list-button {
    border-radius: 20px;
    border: none;
    background-color: #fd7166;
    color: white;
    display: flex;
    padding: 10px 140px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px auto;
}

.new-list-button:hover {
    background-color: #de5349;
}

@media (max-width: 768px) {
    .new-list-button {
        padding: 10px 160px;
    }
}

/*modal for creating new list css*/
.modal-new-list {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}

.list-name{
    text-align: center;
    font-size: medium;
    border-radius: 50px;
    border-color: transparent;
    margin-top: 10px;
    margin-bottom: 12px;
    padding: 10px;
    width: 250px;
    outline: none;
}

.modal-create-button {
    border-radius: 20px;
    border: none;
    background-color: #fd7166;
    color: white;
    display: flex;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 14px;
    margin: 10px auto;
}